<div>
  <mat-toolbar class="buttr-header">
    <h2 style="padding-left: 15px;">Vintory GHL Marketplace Helper</h2>
  </mat-toolbar>

  <section class="buttr-section">


    <div class="buttr-app-detail">
      <div class="buttr-app-detail-data">
        <h2>Name</h2>
        <mat-label>{{app.name}} by {{app.companyName}}</mat-label>
      </div>
      <div class="buttr-app-detail-data">
        <h2>Description</h2>
        <mat-label>{{app.tagline}}</mat-label>
      </div>
      <div class="buttr-app-detail-data">
        <h2>Website</h2>
        <a href="{{app.website}}" target="_blank">{{app.website}}</a>
      </div>
      <div class="buttr-app-detail-data" *ngIf="showRedirectUri">
        <mat-form-field class="buttr-app-list-card-search" appearance="outline">
          <mat-label>Redirect URI</mat-label>
          <input matInput type="text" [(ngModel)]="redirectUri" placeholder="Reach out to the App developer for this">
        </mat-form-field>
      </div>
    </div>
    <div class="buttr-add-app-buttons">
      <button mat-raised-button color="primary" (click)="initAddApp(false)">Authorize Selected Locations</button>&nbsp;
      <button mat-raised-button color="primary" (click)="initAddApp(true)">Authorize All Locations</button>
    </div>
    <div class="buttr-locations-list">
      <div class="buttr-search-bar">
        <mat-form-field class="buttr-app-list-card-search" appearance="outline">
          <mat-label>Search for Apps</mat-label>
          <input matInput type="text" [(ngModel)]="query">
          <mat-icon matPrefix class="material-icons">search</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-paginator #paginator
                       [length]="recordCount"
                       [showFirstLastButtons]="true"
                       [pageSize]="pageSize"
                       (page)="changePage($event)">

        </mat-paginator>
        <mat-selection-list #locList [(ngModel)]="selectedLocations">
          <mat-list-option *ngFor="let location of locationsList | search: 'address,name':query"
                           [value]="location">
            <h2 matListItemTitle>{{location.name}}</h2>
            <p matListItemLine>{{location.address}}</p>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </section>
</div>
