.buttr-header {
  background: #fffaf0;
}

.buttr-section {
  padding: 10px;
}

.buttr-full-width-input {
  width: 100%;
}

.buttr_progress_spinner {
  margin-right: 50%;
  margin-left: 50%;
}

.buttr-api-key-field {
  width: 400px;
  font: 400 16px/20px "Assistant", sans-serif;
  letter-spacing: normal;
  align-self: end;
}

.buttr-logo {
  height: 50px;
}

.buttr-toolbar-spacer {
  flex: 1 1 auto;
}

.buttr-expansion-panel {
  margin: 5px 0px 5px 0px !important;
}

ul .material-icons-outlined {
  font-size: 14px;
}

.buttr-form {
  background-color: #F7F9FE;
  text-align: left;
  padding: 20px;
}

.buttr-form-field {
  padding: 5px;
}

.mat-step-label-selected {
  font-size: 18px !important;
  font-weight: bold;
}

.buttr-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.buttr-radio-button {
  margin: 5px;
}

.buttr-outline-options {
  padding: 20px;;
}
